:root {
    --COLOR_RED: #d2051e;
    --COLOR_BEIGE: #d7cebd;
    --COLOR_DARK: #524f53;
    --COLOR_TAUPE: #887f6e;
    --COLOR_WINE: #671c3e;
    --COLOR_WHITE: #ffffff;
    --COLOR_BLACK: #000000;
    --COLOR_BG: #f5f3ef;
    --COLOR_GREEN: #008000;
    --COLOR_CARD: #F0F2F6;
    /* --COLOR_CARD: rgb(215, 206, 189, 0.2); */
    /* --COLOR_CARD: rgb(82, 79, 83, 0.2); */
}

.block-container {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 0;
}

.header-container img {
    height: 60px;
    object-fit: cover;
    /* Cobre todo o espaço, mantendo proporção (pode cortar) */
    /* object-fit: contain; /* A imagem fica toda visível, sem cortar */
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    color: #3c3f4a;
    text-align: right;
    margin-top: 0;
}

.header-title p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
.header-title {
    color: var(--COLOR_BLACK);
}

section[data-testid="stSidebar"] {
    border-right: 1px solid #ddd;
}

.kpi-card {
    background-color: var(--COLOR_CARD);
    border-radius: 14px;
    padding: 16px 18px;
    border-left: 8px solid var(--COLOR_RED);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.kpi-title {
    font-size: 13px;
    color: var(--COLOR_TAUPE);
    margin-bottom: 6px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.kpi-sub {
    font-size: 12px;
    color: var(--COLOR_WINE);
    margin-top: 6px;
}

.st-key-card1,
.st-key-card2 {
    /* background-color: var(--COLOR_DARK); */
    margin-top: 3.5rem;
}

.st-key-card1,
.st-key-card2,
.st-key-card3,
.st-key-card4 {
    /* background-color: var(--COLOR_DARK); */
    min-height: 30rem;
}

p.detalhe_dataframe {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    margin-top: 0;
    color: red;
}